<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    data-bs-theme="dark">

<head>
    <title>MotherBoard - Marca Formulário</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" th:href="@{/imagens/logorapa.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body class="bg-dark text-light">

    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
        <input type="submit" />
    </form>

    <header class="mb-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">


                <a th:href="@{/}" class="navbar-brand">
                    <img class="imgMother" th:src="@{/imagens/image-light.png}">
                </a>


                <ul class="nav d-flex justify-content-between mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div class="btn-group dropstart">
                            <button type="button" class="btn btn-conta-form-back-end nav-link" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-person-circle iconeheader"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <a class="nav-link" th:href="@{/conta}">
                                    <p class="text-center" th:text="${#authentication.principal.nomeCompleto}"></p>
                                </a>
                                <a class="nav-link btn text-center link-danger" href="#" id="logoutLink" onclick="document.getElementById('logoutForm').submit(); return false;">Logout
                                    <i class="bi bi-box-arrow-right"></i></a>

                            </ul>
                        </div>


                </ul>
            </div>

        </nav>
    </header>




    <main class="border rounded-4 mt-5 m-auto px-3 pt-3 pb-1 text-white INTRAcontaForm">
        <form id="marcaForm" th:action="@{/marcas/salvar}" method="post" enctype="multipart/form-data"
            th:object="${marca}" class="needs-validation" novalidate onsubmit="return validateFormMarca(this);">

            <div class="rounded-4 pt-3 px-4 mb-2 ms-auto me-auto" style="background-color: #33373f;">
                <h2 class="p-3 text-center">
                    [[${tituloDaPag}]] <i class="bi bi-clipboard-check-fill me-2"></i>
                </h2>

                <input type="hidden" th:field="*{Id}" id="id" />

                <div class="form-group row mb-3">

                    <div class="text-center">
                        <img id="thumbnail" alt="Pré-visualização do logo" th:src="@{${marca.logoPath}}"
                            class="img-fluid mb-3 rounded-3" style="width: 130px;height: 130px;cursor: pointer;" />
                            <i class="bi bi-pencil-square fs-4 INTRAiconeImg" style="margin-left: 10rem;margin-top:-45px;"></i>
                    </div>

                    <label class="form-label">Logo:</label>

                    <div>
                        <input type="hidden" th:field="*{logo}" />

                        <input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg" required
                            th:required="${marca.id == null}" class="form-control rounded-3" />
                            <div class="invalid-feedback">
                                Por favor, selecione uma imagem.
                            </div>
                    </div>
                    
                </div>

                <div class="mb-4">
                    <label for="categoria" class="form-label">Nome da marca:</label>
                    <input type="text" name="nome" th:field="*{nome}" class="form-control" id="nome"
                        placeholder="Digite o nome da Categoria" required minlength="3" maxlength="50">
                    <div class="invalid-feedback">Preencha este campo.</div>
                </div>



                <div class="form-group row">
                    <label class="form-label">Selecione uma ou mais categorias:</label>
                    <div>
                        <select id="categorias" class="form-control" th:field="*{categorias}" multiple required
                            style="height: 105px;overflow-y: auto;">
                            <th:block th:each="cat : ${listCategorias}">
                                <option th:value="${cat.id}">[[${cat.nome}]]</option>
                            </th:block>
                        </select>
                        <div class="invalid-feedback">Selecione uma opção.</div>
                    </div>
                </div>

                <div class="form-group row mt-3 mb-3">
                    <label class="col-sm-4 form-label">Categorias escolhidas:</label>
                    <div class="col-sm-8">
                        <div class="badge badge-secondary" id="chosenCategories"></div>
                    </div>
                </div>


                <div class="mb-3 d-flex">
                    <label class="form-label">Ativo:</label>
                    <div class="form-check ms-2">
                        <input type="checkbox" th:field="*{habilitado}" class="form-check-input" required>
                        <div class="invalid-feedback" style="margin-top: 1px;">
                            Você deve preencher antes de enviar.
                        </div>
                    </div>
                </div>

                <div class="align-items-center d-flex justify-content-end p-2">
                    <button type="submit" class="btn SubmitFunc w-75 me-3 p-2">Inserir Marca <i
                            class="bi bi-arrow-down-circle"></i></button>
                    <button type="button" class="btn btn-outline-danger" id="butaocancela">Cancelar <i
                            class="bi bi-box-arrow-right"></i></button>
                </div>

                <br>
            </div>
        </form>
    </main>



    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Cuidado</h4>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <script>

        // Validar o formulário usando Bootstrap e `checkUniqueMarca`
        const forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();

                // Validação padrão do Bootstrap
                if (!form.checkValidity()) {
                    form.classList.add('was-validated');
                    return; // Não continua se a validação básica falhar
                }

                // Se validação do Bootstrap estiver correta, verifica `checkUniqueMarca`
                checkUniqueMarca(form).then((isUnique) => {
                    if (isUnique) {
                        form.classList.add('was-validated');
                        form.submit(); // Submete o formulário se `checkUniqueMarca` retornar `true`
                    }
                });
            }, false);
        });

        function checkUniqueMarca(form) {

            brandName = $("#nome").val();
            brandId = $("#id").val();

            csrfValue = $("input[name='_csrf']").val();

            url = "[[@{/marcas/check_unique}]]";

            params = { id: brandId, nome: brandName, _csrf: csrfValue };

            return $.post(url, params).then(function (response) {

                if (response.trim() === "OK") {
                    return true;
                }
                else if (response.trim() === "Duplicate") {
                    showModalDialog("Cuidado", "Essa marca já está cadastrada: " + brandName);
                    return false;
                }
            });
        }

        function showModalDialog(title, message) {
            $("#modalTitle").text(title);
            $("#modalBody").text(message);
            $("#modalDialog").modal('show');
        }

        // Tornar a imagem clicável para selecionar um arquivo
        $("#thumbnail").on("click", function () {
            $("#fileImage").click();
        });
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            $("#butaocancela").on("click", function () {
                window.location = "[[@{/marcas}]]";
            });

            $("#fileImage").change(function () {
                var foto = this.files[0].size;

                // 1 MB = 1048576 bytes
                if (foto > 1048576) {
                    this.setCustomValidity("Você só pode escolher imagens abaixo de 1 MB!");
                    this.reportValidity();
                } else {
                    this.setCustomValidity("");
                    showImageThumbnail(this);
                }
            });
        });
        // Função para exibir a miniatura da imagem
        function showImageThumbnail(fileInput) {
            var file = fileInput.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbnail").attr("src", e.target.result);
            };
            reader.readAsDataURL(file);
        }
    </script>

    <script type="text/javascript">
        moduleURL = "[[@{/marcas}]]";
        $(document).ready(function () {
            dropdownCategories = $("#categorias");
            divChosenCategories = $("#chosenCategories");

            dropdownCategories.change(function () {
                divChosenCategories.empty();
                showChosenCategories();
            });

            showChosenCategories();
        });

        function showChosenCategories() {
            dropdownCategories.children("option:selected").each(function () {
                selectedCategory = $(this);
                catId = selectedCategory.val();
                catName = selectedCategory.text().replace(/-/g, "");
                divChosenCategories.append("<span class='badge text-bg-secondary me-1' style='font-size: 16px;margin-top:-5px'>" + catName + "</span>");
            });
        }
    </script>



    <footer class=" bg-body-tertiary text-white mt-5 pt-5 pb-4" data-bs-theme="dark">
        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left">

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">

                    <a th:href="@{/}" class="navbar-brand">
                        <img class="imgMother" th:src="@{/imagens/image-light.png}">
                    </a>
                    <br /><br /><br />

                    <section class="mb-4">
                        <a class="btn btn-outline-light btn-floating m-1 botaozinhoface" href="#!" role="button"><i
                                class="bi bi-facebook"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 botaozinhottw"
                            href="https://x.com/Motherboard2024" role="button"><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 botaozinhoinsta"
                            href="https://www.instagram.com/motherboardtecnologic1" role="button"><i
                                class="bi bi-instagram"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 botaozinhoyou"
                            href="https://www.youtube.com/@MotherboardTecnologic" role="button"><i
                                class="bi bi-youtube"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 botaozinhogit"
                            href="https://github.com/akavh/TCC3ANOC" role="button"><i class="bi bi-github"></i></a>
                    </section>
                </div>


                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Ajuda:</h6>
                    <p>
                        <a href="SobreNos.html" class=" links2"> Sobre nós</a>

                    </p>
                    <p>
                        <a href="atendimento.html" class="links2"> Atendimento ao Funcionario</a>
                    </p>
                    <p>
                        <a href="Politica.html" class=" links2"> Política de Privacidade</a>

                    </p>
                </div>

                <hr class="mb-4">
                <div>
                    <p> © 2024 Motherboard Tecnologic. Todos os direitos reservados.</p>
                </div>

            </div>

        </div>


    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>