<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="conteudo" th:remove="tag">
        <div class="row" id="divImagensProduto">

            <div class="col-5 mt-2 p-2">
                <label>Imagem principal:</label>
                <div class="col-sm-8">
                    <div class="my-1">
                        <img id="thumbnail" alt="preview da imagem" th:src="@{${produto.imagemPrincipalPath}}" class="img-fluid"
                            style="width: 130px; height: 130px;"/>
                    </div>
                    <input type="file" id="fileImage" name="fileImage" required
                        accept="image/png, image/jpeg" />
                </div>
            </div>

            <div class="col-5 mt-2 p-2" id="divImagemExtra0">
                <div id="imagemExtraHeader0"><label>Imagem Extra #1:</label></div>
                <div class="col-sm-8">
                    <div class="my-1">
                        <img id="extraThumbnail0" th:src="@{${produto.imagemPrincipalPath}}"
                            style="width: 130px; height: 130px;"/>
                    </div>
                    <input type="file" name="imagemExtra"
                        accept="image/png, image/jpeg" />
                </div>
            </div>

        </div>
    </div>
</body>

</html>