<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    data-bs-theme="dark">
    <body>
        <div th:fragment="conteudo" th:remove="tag">
           <div>
            <label>Descrição do produto</label>
             <textarea class="form-control bg-dark" th:field="*{descricaoCurta}" rows="5" required></textarea>
             <br/>
           </div>
           <div>
            <label>Informações técnicas</label>
             <textarea class="form-control bg-dark" th:field="*{descricaoCompleta}" rows="10" required></textarea>
           </div>
        </div>
    </body>
</html>