<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    data-bs-theme="dark">
    <body>
        <div th:fragment="conteudo" th:remove="tag">
          <div class="p-3">
            <label class="form-label">Descrição Curta:</label>
             <textarea class="form-control bg-dark validar" th:field="*{descricaoCurta}" rows="5" required></textarea>
             <br/>
           </div>
           <div class="p-3">
            <label class="form-label">Informações Técnicas:</label>
             <textarea class="form-control bg-dark validar" th:field="*{descricaoCompleta}" rows="10" required></textarea>
           </div>
        </div>
    </body>
</html>