<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="conteudo" id="divProdutoDetalhes">
        <div class="row my-2" id="divDetalhes0">

             <div class="col">
                 <label class="my-2 ms-1">Nome:</label>
                 <input type="text" class="form-control" name="nomeDetalhes" maxlength="255">
             </div>
             <div class="col">
                 <label class="my-2 ms-1">Valor:</label>
                 <input type="text" class="form-control" name="valorDetalhes" maxlength="255">
             </div>

        </div>
    </div>
</body>

</html>