<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    data-bs-theme="dark">

<body>
    <div th:fragment="conteudo" th:remove="tag">
        <div class="row" id="divImagensProduto">

            <div class="col-5 mt-2 p-2">
                <label>Imagem principal: [[${produto.imagem_principal}]]</label>
                <div class="col-sm-8">
                    <div class="my-1">
                        <img id="thumbnail" alt="preview da imagem" th:src="@{${produto.imagemPrincipalPath}}" class="img-fluid"
                            style="width: 130px; height: 130px;"/>
                    </div>
                    <input type="file" id="fileImage" name="fileImage" 
                        th:required="${produto.imagem_principal == null}"
                        accept="image/png, image/jpeg" />

                        <input type="hidden" th:field="*{imagem_principal}">
                </div>
            </div>

            <th:block th:each="produtoImagem, status : ${produto.imagens}">
                <div class="col-5 mt-2 p-2" th:id="'divImagemExtra' + ${status.index}">
                    <div>
                        <label>Imagem Extra #[[${status.index + 1}]]: [[${produtoImagem.nome}]]</label>
                        <a name="linkRemoverImagemExtra" title="Remover essa imagem">Remover</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="my-1">
                            <img th:id="'extraThumbnail' + ${status.index}" 
                                th:src="@{${produtoImagem.imagemPath}}"
                                alt="Imagem extra #[[${status.index}]] preview"
                                style="width: 130px; height: 130px;"/>
                        </div>
                        <input type="file" name="imagemExtra"
                            accept="image/png, image/jpeg" />
                    </div>
                    <input type="hidden" name="imagemIDs" th:id="'imagemId' + ${status.index}" 
                            th:value="${produtoImagem.id}" />
                    <input type="hidden" name="imagemNomes" th:id="'imagemNome' + ${status.index}"
                            th:value="${produtoImagem.nome}" />
                </div>
            </th:block>

            <div class="col-5 mt-2 p-2" th:id="'divImagemExtra' + ${numeroDeImagensExtras}">
                <div th:id="'imagemExtraHeader' + ${numeroDeImagensExtras}">
                    <label>Imagem Extra #[[${numeroDeImagensExtras + 1}]]:</label>
                </div>
                <div class="col-sm-8">
                    <div class="my-1">
                        <img th:id="'extraThumbnail' + ${numeroDeImagensExtras}"
                            th:src="@{/imagens/image-thumbnail.png}"
                            style="width: 130px; height: 130px;"/>
                    </div>
                    <input type="file" name="imagemExtra"
                        accept="image/png, image/jpeg" />
                </div>
            </div>

        </div>
    </div>
</body>

</html>