<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
    <title>MotherBoard - Usuário Formulário</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" th:href="@{/imagens/logorapa.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body class="bg-dark text-light">

    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
        <input type="submit" />
    </form>

    <header class="mb-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary p-3" data-bs-theme="dark">
            <div class="container-fluid">
                <a th:href="@{/}" class="navbar-brand">
                    <img class="imgMother" th:src="@{/imagens/image-light.png}">
                </a>
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-conta-form-back-end nav-link" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-circle fs-1"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="nav-link" th:href="@{/conta}">
                            <p class="text-center" th:text="${#authentication.principal.nomeCompleto}"></p>
                        </a>
                        <a class="nav-link btn text-center link-danger" href="#" id="logoutLink"
                            onclick="document.getElementById('logoutForm').submit(); return false;">Logout
                            <i class="bi bi-box-arrow-right"></i>
                        </a>
                    </ul>
                </div>
                </ul>
            </div>
        </nav>
    </header>

    <main class="border rounded-4 mt-5 m-auto px-3 pt-3 text-white INTRAcontaForm">
        <form th:action="@{/usuarios/salvar}" method="post" id="registrationFormUsuario" enctype="multipart/form-data"
            th:object="${usuario}" novalidate>

            <div class="rounded-4 pt-3 px-4 mb-2 ms-auto me-auto" style="background-color: #33373f;">
                <div class="align-items-center d-flex justify-content-end">
                    <button type="button" value="Voltar" class="btn btn-outline-light fw-bold" id="buttonCancel">Voltar
                        <i class="bi bi-box-arrow-right"></i></button>
                </div>

                <h2 class="p-3 text-center">[[${tituloDaPag}]]</h2>

                <input type="hidden" th:field="*{id}" id="id" />

                <div>
                    <input type="hidden" th:field="*{fotos}" />

                    <div class="text-center">
                        <img th:src="@{${usuario.photosImagePath}}" id="thumbnail"
                            class="INTRACategoriaimg rounded-3 mb-3" style="cursor: pointer;">
                        <i class="bi bi-pencil-square fs-4 INTRAiconeImg"
                            style="margin-left: 10rem;margin-top:-45px;"></i>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Escolha uma imagem:</label>
                    <input class="form-control" type="file" id="foto" name="imagem" accept="image/*" required>
                    <div id="imageError" class="error-message" style="display: none;"></div>
                </div>


                <div class="mb-3">
                    <label for="nomeCompleto" class="form-label">Nome Completo*</label>
                    <input type="text" th:field="*{nomeCompleto}" class="form-control" id="nomeCompleto"
                        placeholder="Digite seu nome completo" required minlength="3" maxlength="45">
                    <div id="nomeCompletoError" class="error-message" style="display: none;"></div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email*</label>
                    <input type="email" th:field="*{email}" class="form-control" id="email"
                        placeholder="contato@gmail.com" required minlength="8" maxlength="50">
                    <div id="emailError" class="error-message" style="display: none;"></div>
                </div>

                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF*</label>
                    <input type="text" th:field="*{cpf}" class="form-control" id="cpf" placeholder="000.000.000-00"
                        required minlength="14" maxlength="14">
                    <div id="cpfError" class="error-message" style="display: none;"></div>
                </div>

                <div class="mb-3">
                    <label for="senha" class="form-label">Senha*</label>
                    <div class="input-group">
                        <input type="password" th:if="${usuario != null and usuario.id == null}" th:field="*{senha}"
                            class="form-control" id="senha" placeholder="Digite sua senha" required minlength="8"
                            maxlength="20">

                        <input type="password" th:if="${usuario != null and usuario.id != null}" th:field="*{senha}"
                            class="form-control" id="senha" placeholder="Digite sua senha" minlength="8" maxlength="20">

                        <button type="button" id="togglePassword" class="btn btn-outline-secondary">
                            <i class="bi bi-eye-fill"></i>
                        </button>
                    </div>
                    <div id="senhaError" class="error-message" style="display: none;"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Função:</label>
                    <div class="form-check">
                        <th:block th:each="role : ${listRoles}">
                            <input type="checkbox" th:field="*{roles}" th:text="${role.nome}" th:value="${role.id}"
                                class="form-check-input validaCargos">
                            - <small class="form-text">[[${role.Descricao}]]</small>
                            <br>
                        </th:block>
                        <div id="checkboxCargosError" class="error-message" style="display: none;">
                            Você deve preencher antes de enviar.
                        </div>
                    </div>
                </div>

                <div class="mb-3 d-flex">
                    <label class="form-label">Permitido:</label>
                    <div class="form-check ms-2">
                        <input type="checkbox" th:field="*{permitido}" class="form-check-input permitido">
                        <div id="checkboxError" class="error-message" style="display: none;">
                            Você deve preencher antes de enviar.
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="w-100 p-2 rounded-3 SubmitFunc">Cadastrar Dados <i
                            class="bi bi-arrow-down-circle"></i></button>
                </div>
                <br>
            </div>
        </form>
    </main>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Cuidado</h4>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Cuidado</h4>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Seleção dos elementos
        const fotoInput = document.getElementById('foto');
        const nomeCompletoInput = document.getElementById('nomeCompleto');
        const cpfInput = document.getElementById('cpf');
        const emailInput = document.getElementById('email');
        const senhaInput = document.getElementById('senha');
        const checkboxRoles = document.querySelectorAll('.validaCargos');
        const checkboxInput = document.querySelector('.permitido');

        const imageError = document.getElementById('imageError');
        const nomeCompletoError = document.getElementById('nomeCompletoError');
        const cpfError = document.getElementById('cpfError');
        const emailError = document.getElementById('emailError');
        const senhaError = document.getElementById('senhaError');
        const checkboxError = document.getElementById('checkboxError');
        const checkboxCargosError = document.getElementById('checkboxCargosError');


        // Validação da imagem
        function validateImage() {
            if (fotoInput.files.length === 0) {
                imageError.textContent = "Selecione uma imagem antes de enviar.";
                imageError.style.display = "block";
                fotoInput.classList.add('is-invalid');
            } else if (fotoInput.files[0].size > 1 * 1024 * 1024) { // Limite de 1 MB
                imageError.textContent = "A imagem deve ter no máximo 1 MB.";
                imageError.style.display = "block";
                fotoInput.classList.add('is-invalid');
            } else {
                imageError.style.display = "none";
                fotoInput.classList.remove('is-invalid');
                fotoInput.classList.add('is-valid');
            }
        }

        // Validação do nome
        function validateFullName() {
            const namePattern = /^[a-zA-ZÀ-ÿ]+(?:\s[a-zA-ZÀ-ÿ]+)*$/;
            const trimmedValue = nomeCompletoInput.value.trim();

            // Permite um único espaço entre palavras enquanto o usuário digita
            const cleanedValue = nomeCompletoInput.value.replace(/\s{2,}/g, ' '); // Remove múltiplos espaços consecutivos

            nomeCompletoInput.value = cleanedValue; // Atualiza o valor com a versão limpa

            if (trimmedValue === "") {
                nomeCompletoError.textContent = "Preencha este campo.";
                nomeCompletoError.style.display = "block";
                nomeCompletoInput.classList.add('is-invalid');
            } else if (trimmedValue.length < 3) {
                nomeCompletoError.textContent = "O nome deve conter pelo menos 3 caracteres.";
                nomeCompletoError.style.display = "block";
                nomeCompletoInput.classList.add('is-invalid');
            } else if (!namePattern.test(cleanedValue)) {
                nomeCompletoError.textContent = "O nome deve conter apenas letras e um espaço entre palavras.";
                nomeCompletoError.style.display = "block";
                nomeCompletoInput.classList.add('is-invalid');
            } else {
                nomeCompletoError.style.display = "none";
                nomeCompletoInput.classList.remove('is-invalid');
                nomeCompletoInput.classList.add('is-valid');
            }
        }


        // Validaçã do e-mail
        function validateEmail() {
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (emailInput.value.trim() === "") {
                emailError.textContent = "Preencha este campo.";
                emailError.style.display = "block";
                emailInput.classList.add('is-invalid');
            } else if (!emailPattern.test(emailInput.value)) {
                emailError.textContent = "E-mail inválido.";
                emailError.style.display = "block";
                emailInput.classList.add('is-invalid');
            } else {
                emailError.style.display = "none";
                emailInput.classList.remove('is-invalid');
                emailInput.classList.add('is-valid');
            }
        }

        // Mascara do CPF
        function formatCPF() {
            let cpfValue = cpfInput.value.replace(/\D/g, '');
            if (cpfValue.length > 0) {
                cpfValue = cpfValue.replace(/(\d{3})(\d)/, "$1.$2");
                cpfValue = cpfValue.replace(/(\d{3})(\d)/, "$1.$2");
                cpfValue = cpfValue.replace(/(\d{3})(\d{2})$/, "$1-$2");
            }
            cpfInput.value = cpfValue;
        }

        // "API" do CPF
        function isCpf(cpf) {
            cpf = cpf.replace(/\D/g, '');
            if (cpf.length !== 11 || /^(\d)\1{10}$/.test(cpf)) return false;
            let result = true;
            [9, 10].forEach(function (j) {
                let soma = 0, r;
                cpf.split(/(?=)/).splice(0, j).forEach(function (e, i) {
                    soma += parseInt(e) * ((j + 2) - (i + 1));
                });
                r = soma % 11;
                r = (r < 2) ? 0 : 11 - r;
                if (r !== parseInt(cpf.substring(j, j + 1))) result = false;
            });
            return result;
        }

        // Validação do CPF
        function validateCPF() {
            if (cpfInput.value.trim() === "") {
                cpfError.textContent = "Preencha este campo.";
                cpfError.style.display = "block";
                cpfInput.classList.add('is-invalid');
            } else if (!isCpf(cpfInput.value)) {
                cpfError.textContent = "CPF inválido.";
                cpfError.style.display = "block";
                cpfInput.classList.add('is-invalid');
            } else {
                cpfError.style.display = "none";
                cpfInput.classList.remove('is-invalid');
                cpfInput.classList.add('is-valid');
            }
        }

        // Validação da senha
        function validatePassword() {
            const password = senhaInput.value;
            const hasUpperCase = /[A-Z]/.test(password);
            const hasLowerCase = /[a-z]/.test(password);
            const hasNumber = /\d/.test(password);
            const hasSpecialChar = /[!@#$%^&*(),.?":{}|<>]/.test(password);

            if (password === "") {
                senhaError.textContent = "Preencha este campo.";
                senhaError.style.display = "block";
                senhaInput.classList.add('is-invalid');
            } else if (password.length < 8) {
                senhaError.textContent = "A senha deve conter pelo menos 8 caracteres.";
                senhaError.style.display = "block";
                senhaInput.classList.add('is-invalid');
            } else if (!hasUpperCase || !hasLowerCase || !hasNumber) {
                senhaError.textContent = "A senha deve conter letra maiúscula, minúscula e um número.";
                senhaError.style.display = "block";
                senhaInput.classList.add('is-invalid');
            } else if (!hasSpecialChar) {
                senhaError.textContent = "A senha deve conter pelo menos um caractere especial.";
                senhaError.style.display = "block";
                senhaInput.classList.add('is-invalid');
            } else {
                senhaError.style.display = "none";
                senhaInput.classList.remove('is-invalid');
                senhaInput.classList.add('is-valid');
            }
        }

        // Validação do checkbox 'Permitido'
        function validateCheckbox() {
            if (!checkboxInput.checked) {
                checkboxError.textContent = "Você deve preencher esta opção.";
                checkboxError.style.display = "block";
                checkboxInput.classList.add('is-invalid');
            } else {
                checkboxError.style.display = "none";
                checkboxInput.classList.remove('is-invalid');
                checkboxInput.classList.add('is-valid');
            }
        }

        // Função de validação dos checkboxes de 'Funções'
        function validateCheckboxRoles() {
            let isChecked = false;
            let checkedCount = 0;

            // Verifica se pelo menos uma checkbox está marcada e conta o total
            checkboxRoles.forEach(function (checkbox) {
                if (checkbox.checked) {
                    isChecked = true;
                    checkedCount++;
                }
            });

            // Validação de no máximo 2 funções selecionadas
            if (checkedCount > 2) {
                checkboxCargosError.textContent = "Selecione no máximo 2 funções.";
                checkboxCargosError.style.display = "block";
                checkboxRoles.forEach((checkbox) => checkbox.classList.add('is-invalid'));
            } else if (!isChecked) {
                checkboxCargosError.textContent = "Selecione pelo menos uma função.";
                checkboxCargosError.style.display = "block";
                checkboxRoles.forEach((checkbox) => checkbox.classList.add('is-invalid'));
            } else {
                checkboxCargosError.style.display = "none";
                checkboxRoles.forEach((checkbox) => checkbox.classList.remove('is-invalid'));
                checkboxRoles.forEach((checkbox) => checkbox.classList.add('is-valid'));
            }

            // Desabilitar as caixas não marcadas se já houver 2 selecionadas
            checkboxRoles.forEach(function (checkbox) {
                if (checkedCount >= 2 && !checkbox.checked) {
                    checkbox.disabled = true;
                } else {
                    checkbox.disabled = false;
                }
            });
        }

        // Eventos de mudança
        checkboxInput.addEventListener('change', validateCheckbox);
        checkboxRoles.forEach(checkbox => checkbox.addEventListener('change', validateCheckboxRoles));

        // Função de Mostrar/Ocultar Senha
        function togglePasswordVisibility(inputId, icon) {
            const input = document.getElementById(inputId);
            const isPassword = input.type === "password";
            input.type = isPassword ? "text" : "password";
            icon.classList.toggle("bi-eye-slash-fill", isPassword);
            icon.classList.toggle("bi-eye-fill", !isPassword);
        }

        document.getElementById('togglePassword').addEventListener('click', function () {
            togglePasswordVisibility('senha', this.firstElementChild);
        });

        // Eventos de input
        fotoInput.addEventListener('change', validateImage);
        nomeCompletoInput.addEventListener('input', validateFullName);
        cpfInput.addEventListener('input', () => {
            formatCPF();
            validateCPF();
        });
        emailInput.addEventListener('input', validateEmail);
        senhaInput.addEventListener('input', validatePassword);

        // Submissão combinada do formulário
        document.getElementById('registrationFormUsuario').addEventListener('submit', function (event) {
            event.preventDefault();

            // Executa as validações locais primeiro
            validateFullName();
            validateCPF();
            validateEmail();
            validateCheckbox();
            validateCheckboxRoles();

            const pageTitle = "[[${tituloDaPag}]]"; // Captura o título da página

            // Validação de imagem somente se o título da página for "Cadastrar"
            if (pageTitle.includes("Cadastrar")) {
                validateImage();
            } else {
                imageError.style.display = "none";
                fotoInput.classList.remove('is-invalid');
                fotoInput.classList.remove('is-valid');
            }

            // Validação da senha somente se o título da página for "Cadastrar"
            if (pageTitle.includes("Cadastrar")) {
                validatePassword();
            }

            // Limite de 1 MB
            if (fotoInput.files[0] && fotoInput.files[0].size > 1 * 1024 * 1024) {
                showModalDialog("Desculpe...", `Você só pode escolher imagens abaixo de 1 MB!`);
                return;
            }

            // Verifica a validade dos campos
            const isImageValid = pageTitle.includes("Cadastrar") ? !fotoInput.classList.contains('is-invalid') : true;
            const isNomeValid = !nomeCompletoInput.classList.contains('is-invalid');
            const isCPFValid = !cpfInput.classList.contains('is-invalid');
            const isEmailValid = !emailInput.classList.contains('is-invalid');
            const isPasswordValid = !senhaInput.classList.contains('is-invalid');
            const isCheckboxValid = !checkboxInput.classList.contains('is-invalid');
            const isRolesValid = checkboxCargosError.style.display === 'none';

            // Se todos os campos forem válidos, chama a função de validação de unicidade no back-end
            if (isNomeValid && isCPFValid && isEmailValid && isPasswordValid && isCheckboxValid && isRolesValid && isImageValid) {
                validateForm(this);
            }
        });

        // Validação de unicidade (back-end)
        function validateForm(form) {
            var checks = [checkEmailUnico(form), checkCpfUnico(form)];

            Promise.all(checks).then(function (results) {
                if (results.every(result => result === true)) {
                    form.submit(); // Envia o formulário se todas as validações passarem
                }
            });
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#buttonCancel").on("click", function () {
                window.location = "[[@{/Usuarios}]]";
            });

            $("#foto").change(function () {
                validateImageSize(this, 1, showModalDialog, showImageThumbnail);
            });
        });

        // Mostra a miniatura da imagem
        function showImageThumbnail(fileInput) {
            var file = fileInput.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbnail").attr("src", e.target.result);
            };
            reader.readAsDataURL(file);
        }

        // Verificação de duplicidade do campo e-mail
        function checkEmailUnico(form) {
            var url = "[[@{/Usuarios/check_email}]]";
            var userEmail = $("#email").val();
            var userId = $("#id").val();
            var csrfValue = $("input[name='_csrf']").val();
            var params = { id: userId, email: userEmail, _csrf: csrfValue };

            return $.post(url, params).then(function (response) {
                if (response == "OK") {
                    $("#email").removeClass('is-invalid').addClass('is-valid');
                    $("#emailError").hide();
                    return true;
                } else if (response == "Duplicated") {
                    $("#email").removeClass('is-valid').addClass('is-invalid');
                    $("#emailError").text("E-mail já em uso").show();
                    showModalDialog("Cuidado", "Esse E-mail está sendo utilizado: " + userEmail);
                    return false;
                } else {
                    showModalDialog("Erro", "Resposta desconhecida do servidor");
                    return false;
                }
            });
        }


        // Verificação de duplicidade do campo CPF
        function checkCpfUnico(form) {
            var url = "[[@{/Usuarios/check_cpf}]]";
            var userCpf = $("#cpf").val();
            var userId = $("#id").val();
            var csrfValue = $("input[name='_csrf']").val();
            var params = { id: userId, cpf: userCpf, _csrf: csrfValue };

            return $.post(url, params).then(function (response) {
                if (response == "OK") {
                    $("#cpf").removeClass('is-invalid').addClass('is-valid');
                    $("#cpfError").hide();
                    return true;
                } else if (response == "Duplicated") {
                    $("#cpf").removeClass('is-valid').addClass('is-invalid');
                    $("#cpfError").text("CPF já em uso").show();
                    showModalDialog("Cuidado", "Esse CPF está sendo utilizado: " + userCpf);
                    return false;
                } else {
                    showModalDialog("Erro", "Resposta desconhecida do servidor");
                    return false;
                }
            });
        }


        // Validação de tamanho da img
        function validateImageSize(inputElement, maxSizeMB, showModalDialog, showImageThumbnail) {
            const file = inputElement.files[0];

            if (!file) {
                return;
            }

            const maxSize = maxSizeMB * 1024 * 1024;

            if (file.size > maxSize) {
                showModalDialog("Desculpe...", `Você só pode escolher imagens abaixo de ${maxSizeMB} MB!`);
                inputElement.setCustomValidity("Tamanho de imagem inválido");
            } else {
                inputElement.setCustomValidity("");
                showImageThumbnail(inputElement);
            }
        }

        // Modal
        function showModalDialog(title, message) {
            $("#modalTitle").text(title);
            $("#modalBody").text(message);
            $("#modalDialog").modal('show');
        }

        // Deixa a imagem clicável
        document.getElementById('thumbnail').addEventListener('click', function () {
            document.getElementById('foto').click();
        });
    </script>


    <footer class="bg-body-tertiary fixarRodape">
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="col ms-3 mb-2 mt-1 quadradodofooter" style="border-radius: 20px;">

                        <a th:href="@{/}">
                            <i class="bi bi-house-door-fill" style="font-size: 2rem; color: white;"></i>

                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="col mb-3 mt-2 quadradodofooter" style="border-radius: 20px;">

                        <a th:href="@{/conta}">
                            <i class="bi bi-person-square" style="font-size: 2rem; color: white;"></i>

                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="col me-3 quadradodofooter mb-3 mt-2" style="border-radius: 20px;">

                        <a th:href="@{/SobreNos}">
                            <i class="bi bi-info-circle" style="font-size: 2rem; color: white;"></i>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <footer class=" bg-body-tertiary text-white mt-5 pt-5 pb-4 footerdoweb" data-bs-theme="dark">
        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left">

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <a class="navbar-brand">

                        <img class="imgMother mb-4" th:src="@{/imagens/image-light.png}">
                    </a>
                    <section class="mb-4">
                        <a class="btn btn-outline-light btn-floating m-1 botaozinhoface" href="#!" role="button"><i
                                class="bi bi-facebook"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 botaozinhottw"
                            href="https://x.com/Motherboard2024" role="button"><i class="bi bi-twitter"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 botaozinhoinsta"
                            href="https://www.instagram.com/motherboardtecnologic1" role="button"><i
                                class="bi bi-instagram"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 botaozinhoyou"
                            href="https://www.youtube.com/@MotherboardTecnologic" role="button"><i
                                class="bi bi-youtube"></i></a>
                        <a class="btn btn-outline-light btn-floating m-1 botaozinhogit"
                            href="https://github.com/akavh/TCC3ANOC" role="button"><i class="bi bi-github"></i></a>
                    </section>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Ajuda:</h6>
                    <p>
                        <a th:href="@{/SobreNos}" class=" links2"> Sobre nós</a>

                    </p>
                    <p>
                        <a th:href="@{/atendimentoFunc}" class="links2"> Atendimento ao Funcionário</a>
                    </p>
                    <p>
                        <a th:href="@{/Politica}" class=" links2"> Política de Privacidade</a>

                    </p>
                </div>

                <hr class="mb-4">
                <div>
                    <p> © 2024 Motherboard Tecnologic. Todos os direitos reservados.</p>
                </div>

            </div>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>

</html>